.cabecalho {
    color: #fff;
    text-align: right;
    background-image: url(../img/teclado.png);
    background-size: cover;
    padding-top: 0rem;
    display: flex;
    flex-direction: line-height;
}

.rodape {
    background-image: url(../img/teclado.png);
    background-color: #fff;
    padding: 1rem 10rem%rem% 0;
    text-align: center;
    color: #fff;
    font-size: 0.6rem;
    font-weight: bold;
}
.rodape{
	   text-align: center;
	      color: #fff;
    text-align: right;
}