.header-navbar-logo {
    width: 10rem;


}

.header-matricula h1 {
    font-weight: 300;
    font: blue;
}

.rounded-top {
    overflow: hidden;

}

.navbar-brand {
    padding: 1.5em 0;

}